
<%- include('partials/header') -%>

<h1> registration page - SIGN UP </h1>

<form action="/register" method="POST">
    <input type="username" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button> SUBMIT </button>
</form>

<!--<li> <a href="/register"> sign up = register </a></li>-->
<!--<li> <a href="/login"> Login! </a></li>-->
<!--<li> <a href="/logout"> Logout! </a></li>-->

<%- include('partials/footer'); -%>
