
<%- include('partials/header') -%>

<!-- include partials/header.ejs -->

<h1>welcome to movie camp</h1>
<p>landing page</p>
<a href="/movies">View All Movies</a>

<%- include('partials/footer'); -%>
