<h4>Post a New Movie</h4>

<form action="/movies" method="POST">
<!-- <form action="/deneme/1" method="POST"> -->
  <input type="text" name="title" placeholder="name of the movie">
  <input type="text" name="image" placeholder="image URL">
  <button> submit </button>
  <!-- <button type="submit" name="button"> submit </button> -->
</form>

<a href="/movies">go back</a>
